@mixin mixed-background-color($bgcolor-rgb, $fgcolor-rgb, $transparency) {
	background: linear-gradient(0deg, rgba($fgcolor-rgb, $transparency), rgba($fgcolor-rgb, $transparency)), rgba($bgcolor-rgb, 1);
}

// general compatibility
body {
	--ncm-bg-rgb: 34, 34, 34;
	--ncm-fg-rgb: 43, 43, 43;
	--ncm-text: #d4d4d5;
	&.ncm-light-theme {
		--ncm-bg-rgb: 255, 255, 255;
		--ncm-fg-rgb: 242, 242, 242;
		--ncm-text: #313131;
	}
}


body {
    --lyric-bar-height: calc(var(--lyric-bar-font-size) * 1.2 * var(--lyric-bar-lines) + var(--lyric-bar-font-size) * 0.3 * (var(--lyric-bar-lines) - 1) + var(--lyric-bar-font-size) * 1);
	.u-playinglocation {
		margin-bottom: calc(var(--lyric-bar-height) + var(--bottombar-elevation, 0px) + 15px);
	}
}


.lyric-bar {
    position: fixed;
    //width: 300px;
    width: clamp(200px, var(--lyric-bar-width, 400px), 100vw - var(--sidebar-width, 199px) - 25px);
    height: var(--lyric-bar-height);
    z-index: 70;
	border-radius: 12px;
	overflow: hidden;
	transition: opacity .35s ease, height .5s ease;
	@include mixed-background-color(var(--md-accent-color-bg-rgb, var(--ncm-bg-rgb)), var(--md-accent-color-rgb, var(--ncm-fg-rgb)), 0.1);

	&.posx-right {
		right: calc(15px + var(--extra-pos-margin, 0px));
	}
	&.posx-left {
		left: calc(var(--leftbar-width, 199px) + 15px + var(--extra-pos-margin, 0px));
	}
	&.posy-bottom {
		bottom: calc(var(--bottombar-height, 72px) + var(--bottombar-elevation, 0px) + 15px);
	}
	&.posy-top {
		top: 75px;
	}

	body.floating-bottombar & {
		&.posx-right {
			right: calc(50vw - var(--bottombar-width) / 2);
		}
		&.posx-left {
			left: calc(50vw - var(--bottombar-width) / 2);
		}
	}


	&:not(.adaptive-width) {
		.rnp-lyrics-single-line-wrapper {
			min-width: 100%;
			> * {
				min-width: 100%;
			}
		}
		&.text-align-left .rnp-lyrics-single-line-wrapper > * { text-align: left; }
		&.text-align-center .rnp-lyrics-single-line-wrapper > * { text-align: center; }
		&.text-align-right .rnp-lyrics-single-line-wrapper > * { text-align: right; }
	}
	&.adaptive-width {
		&.text-align-left .rnp-lyrics-line { align-items: flex-start; }
		&.text-align-center .rnp-lyrics-line { align-items: center; }
		&.text-align-right .rnp-lyrics-line { align-items: flex-end; }
	}

	&.mouse-through {
		pointer-events: none !important;
	}

	&.no-lyrics, body[page-hash*='/m/fm/'] &, body.mq-mv & {
		opacity: 0 !important;
		pointer-events: none;
	}
	body.mq-playing & {
		visibility: hidden;
		pointer-events: none;
	}

	&.adaptive-width {
		width: calc(var(--current-line-width, 368px) + 32px);
		transition: opacity .35s ease, height .5s ease, width .5s ease;
		.lyric-bar-inner {
			-webkit-mask: none !important;
		}
		.lyric-bar-resizer {
			display: none;
			pointer-events: none;
		}
		.rnp-lyrics-single-line-wrapper {
			transform: none !important;
		}
		.rnp-interlude-inner {
			transform-origin: center !important;
		}
	}

	* {
		filter: none;
	}
	.lyric-bar-inner {
		/*padding-left: 15px;
		padding-right: 15px;*/
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		-webkit-mask-image: var(--mask-image);
	}

	.rnp-lyrics {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		-webkit-mask: none;
		--rnp-accent-color-shade-2: var(--md-accent-color, var(--ncm-text));

		.rnp-lyrics-line {
			height: var(--lyric-bar-height);
			width: calc(100% - 30px);
			padding-left: 15px;
			padding-right: 15px;
			//background: #000 !important;
			display: flex;
			flex-direction: column;
			justify-content: center;
			will-change: transform;
			.rnp-lyrics-single-line-wrapper {
				width: fit-content;
				> * {
					white-space: nowrap;
					width: fit-content;
				}
				.rnp-lyrics-line-karaoke {
					transform: translateY(1px);
					display: block !important;
				}
			}
			&::before {
				display: none !important;
			}
			&.rnp-interlude .rnp-interlude-inner {
				width: fit-content;
			}
		}


		.rnp-lyrics-line {
			.rnp-karaoke-word {
				will-change: opacity, transform;
			}
			$idle-opacity: 0.4;
			&[offset='0'] > div > div { 
				&.rnp-lyrics-line-karaoke {
					opacity: 1;
					.rnp-karaoke-word {
						opacity: 1;
						transform: translateY(-2px);
						transition-property: opacity, transform;
						transition-timing-function: linear, ease;
					}
				}
			}
			&:not([offset='0']) > div > div{
				&.rnp-lyrics-line-karaoke {
					opacity: 1;
					.rnp-karaoke-word {
						transition-property: opacity, transform;
						opacity: $idle-opacity;
						transform: translateY(0);
					}
				}
			}
			.rnp-lyrics-line-karaoke.force-refresh > .rnp-karaoke-word {
				transition: all 0s !important;
				opacity: 0.4 !important;
				transform: translateY(0) !important;
			}
		}

		&:not(.first-line-bold) .rnp-lyrics-line > div:first-child > div {
			font-weight: unset !important;
		}
	}

	.lyric-bar-resizer {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 4px;
		cursor: col-resize;
		background: transparent;
		z-index: 2;
	}
}